html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #eec0c0;
  margin-top: 200px;
}

.card {
  width: 500px;
  border-radius: 10px;
  background-color: #ffff;
  margin: auto;
  box-sizing: border-box;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card__photo {
  max-width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -50px;
}

.card__title {
  color: #d63031;
  font-size: 36px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.card__article {
  font-size: 18px;
}

.card__link {
  display: block;
  text-align: center;
}

.card__link-icon {
  display: block;
  color: black;
}

.card__link-icon:hover {
  color: #d63031;
}
